openpyxl
tushare
backtrader[plotting]

pymysql
cryptography

mplfinance
akshare 
fasterapi
scikit-learn
nest_asyncio
pymongo
holidays
baostock 
easyquotation
alphalens
qstock
pywencai
uvloop #nest_asyncio不支持
# pandas==1.5.3
# scipy==1.7.3
numpy
TA-Lib
abupy
